@font-face {
  font-family: "Primitiv";
  src: url("/fonts/PrimitivText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Primitiv";
  src: url("/fonts/PrimitivText-Semibold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}