@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gold: #9F8F5E;
  --silver: #969696;
  --bronze: #996B4F;
  --yellow: #FFB114;
  --red: #F0282D;
  --blue: #0078D0;
  --green: #00A651;
  --font-primitiv: "Primitiv", sans-serif;
  --font-sans: 'Helvetica Neue', Helvetica, sans-serif;
  --font-mono: var(--font-primitiv);
}

body {
  background-color: #ffffff;
  color: #171717;
  font-family: var(--font-sans);
}

.title {
  font-family: var(--font-primitiv);
  font-weight: 700;
  font-style: bold;
}

a {
  color: var(--blue);
  text-decoration: underline;
}
